.lmg{
    margin: 80px;
    margin-left: 300px;
    display: flex;
}

.right{
    border: 1px solid black; 
    width: 600px;
    height: 700px;
    margin-top: 0px;
}

.body{
    display: flex;
}

h1{
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    margin-top: 100px;
}

.email{
    color: gray;
    border: 1px solid white;
    margin-left: 100px;
    width: 400px;
}

.password{
    color: gray;
    border: 1px solid white;
    margin-left: 100px;
    width: 400px;
}

.login{
    color: white;
    background-color: gray;
    border: 1px solid white;
    margin-left: 100px;
    text-align: center;
    width: 400px;
}

.with{
    color: gray;
    border: 1px solid white;
    margin-left: 100px;
    margin-top: 100px;
    text-align: center;
    width: 400px;
}

.google{
    display: flex;
    color: skyblue;
    border: 1px solid mediumaquamarine;
    margin-left: 100px;
    text-align: center;
    width: 400px;
}

.pg{
    margin-left: 100px;
    margin-top: 3px;
}